*.unity filter=lfs diff=lfs merge=lfs -text
Assets/** filter=lfs diff=lfs merge=lfs -text
Assets/SCI_FI[[:space:]]UI[[:space:]]Pack[[:space:]]Pro filter=lfs diff=lfs merge=lfs -text
Assets/SCI-FI[[:space:]]UI[[:space:]]Pack[[:space:]]Pro/** filter=lfs diff=lfs merge=lfs -text
